name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
    
  build:
    runs-on: ubuntu-latest
    env:
      hostname: ${{ secrets.HOSTNAME }}
      password: ${{ secrets.PASSWORD }}
      ssh_port: ${{ secrets.SSH_PORT }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
      
    - name: Upload artifacts
      run:  rsync -ratlz --rsh="/usr/bin/sshpass -p $password ssh -o StrictHostKeyChecking=no -l deploy -p $ssh_port" ./bin/Release/net6.0/ deploy@$hostname:/home/deploy/app/
    - name: Launch an artifact
      run:  sudo sshpass -p $password ssh -o StrictHostKeyChecking=no deploy@$hostname -p $ssh_port "pkill -9 dotnet;dotnet ~/app/Druzhbank.dll &"

